In [2]:
import pandas as pd

In [5]:
MoviesDataset = pd.read_csv("movies_dataset_final.csv")

In [6]:
from sklearn.cluster import KMeans

ModeloML = KMeans(n_clusters=200, random_state=42)

In [11]:
MoviesDataset.columns

Index(['budget', 'id', 'original_language', 'overview', 'popularity',
       'release_date', 'revenue', 'runtime', 'status', 'tagline', 'title',
       'vote_average', 'vote_count', 'release_year', 'return', 'genre_names',
       'collection_name', 'companies_names', 'languages_names',
       'countries_names', 'cast_names', 'crew_names'],
      dtype='object')

In [34]:
VariablesMML = ["companies_names", "genre_names", "release_year", "popularity", "vote_average"]

In [35]:
DatasetMML = MoviesDataset[VariablesMML]

In [36]:
DatasetMML

,companies_names,genre_names,release_year,popularity,vote_average
0,['Pixar Animation Studios'],"['Animation', 'Comedy', 'Family']",1995,21.946943,7.7
1,"['TriStar Pictures', 'Teitler Film', 'Intersco...","['Adventure', 'Fantasy', 'Family']",1995,17.015539,6.9
2,"['Warner Bros.', 'Lancaster Gate']","['Romance', 'Comedy']",1995,11.712900,6.5
3,['Twentieth Century Fox Film Corporation'],"['Comedy', 'Drama', 'Romance']",1995,3.859495,6.1
4,"['Sandollar Productions', 'Touchstone Pictures']",['Comedy'],1995,8.387519,5.7
...,...,...,...,...,...
45361,['Mystery Productions'],[],2016,0.516993,7.0
45362,"['Viking Film', 'Snowcloud Films']","['Fantasy', 'Comedy', 'Romance', 'Drama']",2017,0.600717,7.1
45363,['Telewizja Polska - Agencja Filmowa'],"['Comedy', 'Romance']",2013,0.036523,0.0
45364,[],['Adventure'],1973,0.006352,0.0
45365,['Balapolis'],"['Documentary', 'Foreign']",2005,0.110421,8.3

In [44]:
import ast

listaGenre = []
for i in range(len(DatasetMML)):
    listaGenre.append(ast.literal_eval(DatasetMML["genre_names"][i]))

In [38]:
listaCompanies = []
for i in range(len(DatasetMML)):
    listaCompanies.append(ast.literal_eval(DatasetMML["companies_names"][i]))

In [48]:
from sklearn.preprocessing import MultiLabelBinarizer

# Realizar codificación one-hot
mlb1 = MultiLabelBinarizer()
DataCodificada1 = mlb1.fit_transform(listaGenre)
DatosGenre = pd.DataFrame(DataCodificada1, columns=mlb1.classes_)

In [49]:
mlb2 = MultiLabelBinarizer()
DataCodificada2 = mlb2.fit_transform(listaCompanies)
DatosCompanies = pd.DataFrame(DataCodificada2, columns=mlb2.classes_)

In [53]:
DatasetMML.drop("companies_names", "genre_names", axis=1)

C:\Users\Windows\AppData\Local\Temp\ipykernel_9504\3948754340.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  DatasetMML.drop("companies_names", "genre_names", axis=1)

TypeError: DataFrame.drop() got multiple values for argument 'axis'