In [51]:
import pandas as pd

In [52]:
MoviesDataset = pd.read_csv("movies_dataset_final.csv")

In [53]:
MoviesDataset.columns

Index(['budget', 'id', 'original_language', 'overview', 'popularity',
       'release_date', 'revenue', 'runtime', 'status', 'tagline', 'title',
       'vote_average', 'vote_count', 'release_year', 'return', 'genre_names',
       'collection_name', 'companies_names', 'languages_names',
       'countries_names', 'cast_names', 'crew_names'],
      dtype='object')

In [54]:
VariablesMML = ["title", "genre_names", "release_year", "popularity", "vote_average"]

In [55]:
DatasetMML = MoviesDataset[VariablesMML]

In [56]:
DatasetMML

,title,genre_names,release_year,popularity,vote_average
0,Toy Story,"['Animation', 'Comedy', 'Family']",1995,21.946943,7.7
1,Jumanji,"['Adventure', 'Fantasy', 'Family']",1995,17.015539,6.9
2,Grumpier Old Men,"['Romance', 'Comedy']",1995,11.712900,6.5
3,Waiting to Exhale,"['Comedy', 'Drama', 'Romance']",1995,3.859495,6.1
4,Father of the Bride Part II,['Comedy'],1995,8.387519,5.7
...,...,...,...,...,...
45361,A Death in the Gunj,[],2016,0.516993,7.0
45362,Phillauri,"['Fantasy', 'Comedy', 'Romance', 'Drama']",2017,0.600717,7.1
45363,Polar Flight,"['Comedy', 'Romance']",2013,0.036523,0.0
45364,Simbad e il califfo di Bagdad,['Adventure'],1973,0.006352,0.0
45365,Black Sun,"['Documentary', 'Foreign']",2005,0.110421,8.3

In [57]:
import ast

listaGenre=[]

for i in range(len(DatasetMML)):
    listaGenre.append(ast.literal_eval(DatasetMML.genre_names[i]))

In [61]:
from sklearn.preprocessing import MultiLabelBinarizer

# Realizar codificación one-hot
mlb1 = MultiLabelBinarizer()
DataCodificada1 = mlb1.fit_transform(listaGenre)
DatosGenre = pd.DataFrame(DataCodificada1, columns=mlb1.classes_)

In [62]:
DatosGenre

,Action,Adventure,Animation,Comedy,Crime,Documentary,Drama,Family,Fantasy,Foreign,History,Horror,Music,Mystery,Romance,Science Fiction,TV Movie,Thriller,War,Western
0,0,0,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
3,0,0,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0
4,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45361,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
45362,0,0,0,1,0,0,1,0,1,0,0,0,0,0,1,0,0,0,0,0
45363,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
45364,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
45365,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0

In [63]:
DatasetMML = DatasetMML.drop("genre_names", axis=1)

In [65]:
DatasetMML = pd.concat([DatasetMML, DatosGenre], axis=1)

In [66]:
DatasetMML

,title,release_year,popularity,vote_average,Action,Adventure,Animation,Comedy,Crime,Documentary,...,History,Horror,Music,Mystery,Romance,Science Fiction,TV Movie,Thriller,War,Western
0,Toy Story,1995,21.946943,7.7,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Jumanji,1995,17.015539,6.9,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Grumpier Old Men,1995,11.712900,6.5,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
3,Waiting to Exhale,1995,3.859495,6.1,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
4,Father of the Bride Part II,1995,8.387519,5.7,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45361,A Death in the Gunj,2016,0.516993,7.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
45362,Phillauri,2017,0.600717,7.1,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
45363,Polar Flight,2013,0.036523,0.0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
45364,Simbad e il califfo di Bagdad,1973,0.006352,0.0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
45365,Black Sun,2005,0.110421,8.3,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [67]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()

In [68]:
TitulosCodificados = encoder.fit_transform(DatasetMML["title"])

In [72]:
TitulosCodificados2= pd.DataFrame(TitulosCodificados)

In [73]:
DatasetMML = pd.concat([DatasetMML, TitulosCodificados2], axis=1)

In [74]:
DatasetMML

,title,release_year,popularity,vote_average,Action,Adventure,Animation,Comedy,Crime,Documentary,...,Horror,Music,Mystery,Romance,Science Fiction,TV Movie,Thriller,War,Western,0
0,Toy Story,1995,21.946943,7.7,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,38880
1,Jumanji,1995,17.015539,6.9,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,16741
2,Grumpier Old Men,1995,11.712900,6.5,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,13319
3,Waiting to Exhale,1995,3.859495,6.1,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,40284
4,Father of the Bride Part II,1995,8.387519,5.7,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,11151
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45361,A Death in the Gunj,2016,0.516993,7.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,765
45362,Phillauri,2017,0.600717,7.1,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,24029
45363,Polar Flight,2013,0.036523,0.0,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,24349
45364,Simbad e il califfo di Bagdad,1973,0.006352,0.0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,27652
45365,Black Sun,2005,0.110421,8.3,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,4799

In [77]:
DatasetMML.drop("title", axis=1, inplace=True)

In [79]:
DatasetMML = DatasetMML.rename(columns={0:"title"})

In [80]:
DatasetMML

,release_year,popularity,vote_average,Action,Adventure,Animation,Comedy,Crime,Documentary,Drama,...,Horror,Music,Mystery,Romance,Science Fiction,TV Movie,Thriller,War,Western,title
0,1995,21.946943,7.7,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,38880
1,1995,17.015539,6.9,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,16741
2,1995,11.712900,6.5,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,13319
3,1995,3.859495,6.1,0,0,0,1,0,0,1,...,0,0,0,1,0,0,0,0,0,40284
4,1995,8.387519,5.7,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,11151
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45361,2016,0.516993,7.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,765
45362,2017,0.600717,7.1,0,0,0,1,0,0,1,...,0,0,0,1,0,0,0,0,0,24029
45363,2013,0.036523,0.0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,24349
45364,1973,0.006352,0.0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,27652
45365,2005,0.110421,8.3,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,4799

In [84]:
DatasetMML["release_year"][0]

1995

In [83]:
from surprise import Dataset, Reader

# Convert dataframes to surprise datasets
reader = Reader()
data = Dataset.load_from_df(DatasetMML, reader)

ValueError: too many values to unpack (expected 3)

In [81]:
from surprise import SVD

In [82]:
DataAEntrenar = DatasetMML.build_full_trainset()

AttributeError: 'DataFrame' object has no attribute 'build_full_trainset'